<?php echo $language; ?>
<?php echo $currency; ?>
<?php echo $cart;     ?>

<div id="search">
    <div class="button-search"></div>
    <input type="text" name="search" placeholder="<?php echo $text_search; ?>" value="<?php echo $search; ?>"/>
</div>

<div id="welcome">
    <?php if (!$logged) { ?>
    <?php echo $text_welcome; ?>
    <?php } else { ?>
    <?php echo $text_logged; ?>
    <?php } ?>
</div>


<a href="<?php echo $home; ?>"><?php echo $text_home; ?></a>
<a href="<?php echo $shopping_cart; ?>"><?php echo $text_shopping_cart; ?></a>
<a href="<?php echo $checkout; ?>"><?php echo $text_checkout; ?></a></div>


<?php if ($categories || $pages) { ?>

<div id="notification"></div>


<!-- Start SiteHeart code -->
<script>
    (function(){
        var widget_id = 726241;
        _shcp =[{widget_id : widget_id}];
        var lang =(navigator.language || navigator.systemLanguage
        || navigator.userLanguage ||"en")
                .substr(0,2).toLowerCase();
        var url ="widget.siteheart.com/widget/sh/"+ widget_id +"/"+ lang +"/widget.js";
        var hcc = document.createElement("script");
        hcc.type ="text/javascript";
        hcc.async =true;
        hcc.src =("https:"== document.location.protocol ?"https":"http")
                +"://"+ url;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hcc, s.nextSibling);
    })();
</script>
<!-- End SiteHeart code -->