<dd id="cart">
    <span class="Shopping-Basket"><?=$total_count?></span> товара (<span class="Header-Price"><?=$total_price?></span>
    <svg class="Rouble">
        <use xlink:href="#rub"></use>
    </svg>)
</dd>