<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content"><?php echo $content_top; ?>
    <div class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <?php echo $breadcrumb['separator']; ?><a
                href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
        <?php } ?>
    </div>
    <h1><?php echo $heading_title; ?></h1>
    <b><?php echo $text_critea; ?></b>
    <div class="content">
        <p><?php echo $entry_search; ?>
            <?php if ($filter_name) { ?>
            <input type="text" name="filter_name" value="<?php echo $filter_name; ?>"/>
            <?php } else { ?>
            <input type="text" name="filter_name" value="<?php echo $filter_name; ?>" onclick="this.value = '';"
                   onkeydown="this.style.color = '000000'" style="color: #999;"/>
            <?php } ?>
            <select name="filter_category_id">
                <option value="0"><?php echo $text_category; ?></option>
                <?php foreach ($categories as $category_1) { ?>
                <?php if ($category_1['category_id'] == $filter_category_id) { ?>
                <option value="<?php echo $category_1['category_id']; ?>"
                        selected="selected"><?php echo $category_1['name']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $category_1['category_id']; ?>"><?php echo $category_1['name']; ?></option>
                <?php } ?>
                <?php foreach ($category_1['children'] as $category_2) { ?>
                <?php if ($category_2['category_id'] == $filter_category_id) { ?>
                <option value="<?php echo $category_2['category_id']; ?>" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_2['name']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $category_2['category_id']; ?>">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_2['name']; ?></option>
                <?php } ?>
                <?php foreach ($category_2['children'] as $category_3) { ?>
                <?php if ($category_3['category_id'] == $filter_category_id) { ?>
                <option value="<?php echo $category_3['category_id']; ?>" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_3['name']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $category_3['category_id']; ?>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_3['name']; ?></option>
                <?php } ?>
                <?php } ?>
                <?php } ?>
                <?php } ?>
            </select>
            <?php if ($filter_sub_category) { ?>
            <input type="checkbox" name="filter_sub_category" value="1" id="sub_category" checked="checked"/>
            <?php } else { ?>
            <input type="checkbox" name="filter_sub_category" value="1" id="sub_category"/>
            <?php } ?>
            <label for="sub_category"><?php echo $text_sub_category; ?></label>
        </p>
        <?php if ($filter_description) { ?>
        <input type="checkbox" name="filter_description" value="1" id="description" checked="checked"/>
        <?php } else { ?>
        <input type="checkbox" name="filter_description" value="1" id="description"/>
        <?php } ?>
        <label for="description"><?php echo $entry_description; ?></label>
    </div>
    <div class="buttons">
        <div class="right"><input type="button" value="<?php echo $button_search; ?>" id="button-search"
                                  class="button"/></div>
    </div>
    <h2><?php echo $text_search; ?></h2>
    <?php if ($products) { ?>
    <div class="product-filter">
        <div class="display"><b><?php echo $text_display; ?></b> <?php echo $text_list; ?> <b>/</b> <a
                    onclick="display('grid');"><?php echo $text_grid; ?></a></div>
        <div class="limit"><?php echo $text_limit; ?>
            <select onchange="location = this.value;">
                <?php foreach ($limits as $limits) { ?>
                <?php if ($limits['value'] == $limit) { ?>
                <option value="<?php echo $limits['href']; ?>"
                        selected="selected"><?php echo $limits['text']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $limits['href']; ?>"><?php echo $limits['text']; ?></option>
                <?php } ?>
                <?php } ?>
            </select>
        </div>
        <div class="sort"><?php echo $text_sort; ?>
            <select onchange="location = this.value;">
                <?php foreach ($sorts as $sorts) { ?>
                <?php if ($sorts['value'] == $sort . '-' . $order) { ?>
                <option value="<?php echo $sorts['href']; ?>" selected="selected"><?php echo $sorts['text']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $sorts['href']; ?>"><?php echo $sorts['text']; ?></option>
                <?php } ?>
                <?php } ?>
            </select>
        </div>
    </div>

    <div class="product-list">
        <?php foreach ($products as $product) { ?>
        <div>
            <?php if ($product['thumb']) { ?>
            <div class="image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>"
                                                                              title="<?php echo $product['name']; ?>"
                                                                              alt="<?php echo $product['name']; ?>"/></a>
            </div>
            <?php } ?>
            <div class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
            <!-- Filter start -->
            <div class="description">
                <?php if ($product['attributes']) { ?>
                <?php if (is_array($product['attributes'])) { ?>
                <ul class="attributes">
                    <?php foreach ($product['attributes'] as $key => $attribute) { ?>
                    <li><span class="option"><?php echo $attribute['name']; ?>:</span>&nbsp;<span
                                class="value"><?php echo $attribute['values']; ?></span></li>
                    <?php } ?>
                </ul>
                <?php } else { ?>
                <?php echo $product['attributes']; ?>
                <?php } ?>
                <?php } else { ?>
                <?php echo $product['description']; ?>
                <?php } ?>
            </div>
            <!-- Filter end -->
            <?php if ($product['price']) { ?>
            <div class="price">
                <?php if (!$product['special']) { ?>
                <?php echo $product['price']; ?>
                <?php } else { ?>
                <span class="price-old"><?php echo $product['price']; ?></span> <span
                        class="price-new"><?php echo $product['special']; ?></span>
                <?php } ?>
                <?php if ($product['tax']) { ?>
                <br/>
                <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
                <?php } ?>
            </div>
            <?php } ?>
            <?php if ($product['rating']) { ?>
            <div class="rating"><img src="catalog/view/theme/default/image/stars-<?php echo $product['rating']; ?>.png"
                                     alt="<?php echo $product['reviews']; ?>"/></div>
            <?php } ?>
            <div class="cart"><input type="button" value="<?php echo $button_cart; ?>"
                                     onclick="addToCart('<?php echo $product['product_id']; ?>');" class="button"/>
            </div>

        </div>
        <?php } ?>
    </div>
    <div class="pagination"><?php echo $pagination; ?></div>
    <?php } else { ?>
    <div class="content"><?php echo $text_empty; ?></div>
    <?php }?>
    <?php echo $content_bottom; ?></div>
<?php echo $footer; ?>