.Latest
{
    @extend %Left-Content-Head;
}

.Basket
{
    position:   relative;
    background: $Background-Block;
    color:      $Primary-Color-Text;
    padding:    30px 15px 77px;
    @include Adaptive('>ipad-P')
    {
        padding: 30px 50px 77px 50px;
    }

    h3
    {
        @extend %Unselectable;
        font-weight: 600;
        font-size:   14rem;
    }

    h2
    {
        @extend %Unselectable;
        font-weight:   600;
        font-size:     20rem;
        margin-bottom: 40px;

        svg
        {
            display:        inline-block;
            vertical-align: text-bottom;
            width:          32px;
            height:         30px;
            padding-bottom: 2px;
            fill:           $Primary-Color-Svg;
        }

    }

    @at-root .Basket-Items
    {
        margin-bottom: 55px;

        @include Adaptive("<=ipad-P")
        {
            display: none;
        }

        &.Active
        {
            display: block;
        }

        ul
        {
            position:      relative;
            padding:       32px 0 32px 5px;
            border-top:    1px dashed #aaa;
            border-bottom: 1px dashed #aaa;
        }

        @at-root .Basket-Item
        {
            display:       table;
            width:         100%;
            margin-bottom: 12px;
            font-weight:   600;
            color:         $Primary-Color-Text;


            &:last-of-type
            {
                margin-bottom: 0;
            }

            & > *
            {
                display:        table-cell;
                vertical-align: middle;
            }

            img
            {
                display:   block;
                max-width: 100%;
                height:    40px;
            }

            @at-root .Basket-Number
            {
                width:     9%;
                font-size: 12rem;
                color:     #999;
                display:   none;
                @include Adaptive('>=tablet')
                {
                    display: table-cell;
                }
            }

            @at-root .Basket-Picture
            {
                width:   11%;
                display: none;
                @include Adaptive('>=tablet')
                {
                    display: table-cell;
                }
            }

            @at-root .Basket-Name
            {

                font-size:     14rem;
                color:         $Color-Primary;
                display:       table-caption;
                margin-bottom: 8px;
                @include Adaptive('>=tablet')
                {
                    display:       table-cell;
                    width:         48%;
                    margin-bottom: 0;
                }

            }

            @at-root .Basket-Count
            {
                @extend %Unselectable;
                width:         16%;
                font-size:     14rem;
                text-align:    right;
                padding-right: 20px;
                @include Adaptive('>=tablet')
                {
                    text-align:    initial;
                    padding-right: 0;
                }

                & > *
                {
                    display:        inline-block;
                    vertical-align: middle;
                }

                @at-root .Basket-Amount
                {
                    position:    relative;
                    padding-top: 2px;
                    font-size:   0;
                    span
                    {
                        font-size: 14rem;
                    }
                }

                svg
                {
                    @extend %Std-Transition;
                    width:  12px;
                    height: 6px;
                    fill:   #dadada;
                }

                .Previous
                {

                    padding:      12px;
                    cursor:       pointer;
                    margin-right: 4px;

                    svg
                    {
                        transform: rotate(90deg);
                    }

                    &:hover
                    {
                        svg
                        {
                            @extend %Std-Transition;
                            fill: $Color-Primary;

                        }

                    }
                }

                .Next
                {

                    padding:     12px;
                    cursor:      pointer;
                    margin-left: 4px;

                    svg
                    {
                        transform: rotate(-90deg);
                    }

                    &:hover
                    {
                        svg
                        {
                            @extend %Std-Transition;
                            fill: $Color-Primary;

                        }

                    }
                }
            }

            @at-root .Basket-Price
            {
                width:     14%;
                font-size: 14rem;
            }

            @at-root .Basket-Close
            {
                width: 2%;
                svg
                {
                    @extend %Std-Close;
                    width:  12px;
                    height: 12px;
                }

            }
        }


        @at-root .All-Price
        {
            display:     block;
            text-align:  right;
            margin-top:  50px;
            font-size:   14rem;
            font-weight: 600;

        }
    }

    // end basket items

    @at-root .Basket-Method
    {
        margin-bottom: 55px;

        @include Adaptive("<=ipad-P")
        {
            display: none;
        }

        &.Active
        {
            display: block;
        }

        ul
        {
            position:      relative;
            padding:       32px 0 32px 5px;
            border-top:    1px dashed #aaa;
            border-bottom: 1px dashed #aaa;
        }

        @at-root .Method-Item
        {
            display:       table;
            width:         100%;
            margin-bottom: 20px;
            font-weight:   600;

            &:last-of-type
            {
                margin-bottom: 0;
            }

            & > *
            {
                display:        table-cell;
                vertical-align: top;
            }

            @at-root .Method-Choice
            {
                position: relative;
                width:    8%;

                svg
                {
                    display:  none;
                    position: absolute;
                    width:    16px;
                    height:   14px;
                    fill:     $Color-Primary;
                    top:      -1px;
                    left:     1px;
                    z-index:  999;
                }

                input
                {
                    position: absolute;
                    opacity:  0;
                }

                input:checked + svg
                {
                    display: block;
                }

                input:checked + svg + label
                {
                    cursor: default;
                }

                label
                {
                    position:      relative;
                    display:       block;
                    width:         16px;
                    height:        16px;
                    border:        1px dashed rgb(153, 153, 153);
                    border-radius: 50%;
                    cursor:        pointer;
                }
            }

            @at-root .Method-Number
            {
                width:      11%;
                font-size:  12rem;
                color:      #999;
                text-align: center;
                padding:    3px 5px;
                @include Adaptive('>=tablet')
                {
                    padding: 3px 0;
                }
            }

            @at-root .Method-Description
            {
                width:   51%;
                padding: 0 3px;
                @include Adaptive('>=tablet')
                {
                    padding: 0;
                }

                h3
                {
                    padding-bottom: 7px;
                }

                span
                {
                    font-size:   13rem;
                    font-weight: normal;
                    color:       #666;

                    span
                    {
                        color: $Color-Primary;
                    }
                }
            }

            @at-root .Method-Time
            {
                width:        30%;
                padding-left: 5px;
                @include Adaptive('>=tablet')
                {
                    padding-left: 0;
                }

                span
                {
                    font-size:   14rem;
                    color:       $Primary-Color-Text;
                    font-weight: 600;
                }

                .Time-Plus
                {
                    font-weight: normal;
                    display:     block;
                    color:       #666;
                    padding-top: 7px;
                }
            }
        }
    }

    // end basket method

    @at-root .Basket-Contacts, .Contacts
    {
        display: block;
        @include Adaptive("<=ipad-P")
        {
            display: none;
        }

        &.Active
        {
            display: block;
        }

        li
        {
            position: relative;

            @include Adaptive('>=tablet')
            {
                padding-left: 225px;
            }
        }

        input, textarea
        {
            display:        inline-block;
            vertical-align: top;
            width:          100%;
            max-width:      300px;
        }

        label
        {
            @extend %Unselectable;
            display:       block;
            margin-bottom: 7px;
            font-size:     14rem;
            color:         $Primary-Color-Text;

            @include Adaptive('>=tablet')
            {
                position: absolute;
                left:     0;
                top:      9px;
            }
        }

        input
        {
            @extend %Std-Input;
            padding-left:  10px;
            margin-bottom: 7px;
        }

        textarea
        {
            @extend %Std-Input;
            height:        150px;
            padding-left:  10px;
            resize:        none;
            margin-bottom: 9px;
        }

        button
        {
            @extend %Std-Button-not-Link;
            display: inline-block;
            width:   173px;

            @include Adaptive('>=tablet')
            {
                margin-left: 225px;
            }
        }
    }
}

.Basket-Comment
{

    &.Removed
    {
        display: none;
    }
}

.Basket-Address
{
    &.Removed
    {
        display: none;
    }
}

.Basket-Next
{
    @extend %Std-Transition;
    @extend %Std-Button-not-Link;

    position:   absolute;
    right:      15px;
    top:        37px;
    cursor:     pointer;
    width:      55px;
    text-align: center;

    &:hover
    {

        @extend %Std-Transition;

    }

    @include Adaptive(">ipad-P")
    {
        display: none;
    }
}

.Basket-Previous
{
    @extend %Std-Transition;
    @extend %Std-Button-not-Link;

    position:   absolute;
    right:      95px;
    top:        37px;
    cursor:     pointer;
    width:      55px;
    text-align: center;

    &:hover
    {
        @extend %Std-Transition;

    }

    @include Adaptive(">ipad-P")
    {
        display: none;
    }
}

.Contacts
{
    padding: 25px;
    h2
    {
        font-size:      16rem;
        font-weight:    bold;
        margin-bottom:  10px;
        text-transform: uppercase;
    }
    p
    {
        font-size:   16rem;
        line-height: 28rem;
    }
    b
    {
        font-weight: 700;
    }
}