.Items-Similar
{
    h2
    {
        font-size:   18rem;
        font-weight: 600;
        text-align:  center;
        padding:     30px 0 25px;
    }

}

.Thing-Nav
{
    display: table;
    width:   100%;

    @at-root .Thing-Breadcrumbs
    {
        display:        table-cell;
        vertical-align: middle;
        font-weight:    600;

        a
        {
            display:         inline-block;
            padding:         25px;
            text-decoration: none;
            color:           $Primary-Color-Text;
            font-size:       14rem;
        }

        span
        {
            display: inline-block;
        }

        svg
        {
            width:          12px;
            height:         12px;
            margin-right:   9px;
            fill:           $Color-Primary;
            vertical-align: middle;
        }

    }
    @at-root .Thing-Price
    {
        display:          table-cell;
        width:            40%;
        vertical-align:   middle;
        padding:          17px;
        text-align:       center;
        background-color: $Color-Primary;
        color:            white;
        @include Adaptive('>=tablet')
        {
            width: 300px;
        }

        svg
        {
            width:  18px;
            height: 18px;
            fill:   white;
            @include Adaptive('>=tablet')
            {
                width:  23px;
                height: 23px;
            }
        }

        span
        {
            vertical-align: middle;
        }

        span:first-of-type
        {
            font-size:    14rem;
            font-weight:  600;
            margin-right: 14px;
        }

        span:last-of-type
        {
            font-size:   25rem;
            font-weight: 700;
            @include Adaptive('>=tablet')
            {
                font-size: 30rem;
            }
        }

    }

}

.Thing-Content
{
    background-color: white;
    @include Adaptive('>=tablet')
    {
        display: table;
        width:   100%;
    }
    @at-root .Thing-View
    {

        width:           100%;
        max-width:       300px;
        height:          300px;
        margin:          0 auto;
        background:      url("../img/view-thing.jpg") no-repeat center;
        background-size: 230px;
        @include Adaptive('>=tablet')
        {
            display:        table-cell;
            width:          50%;
            vertical-align: middle;
        }

        @include Adaptive('>=desktop')
        {
            width: 22%;
        }

    }
    @at-root .Thing-Description
    {

        width:     100%;
        max-width: 300px;

        margin:    0 auto;
        padding:   20px 15px;

        @include Adaptive('>=tablet')
        {
            display:        table-cell;
            width:          50%;
            padding:        20px 0;
            vertical-align: middle;
        }

        @include Adaptive('>=desktop')
        {
            width:        48%;
            padding-left: 8%;
        }

        h2
        {
            font-size:     30rem;
            margin-bottom: 23px;
        }

        h2, dd
        {
            font-weight: 700;
        }

        dl
        {
            padding: 12px 0;
        }

        dt
        {
            font-weight: 600;
        }

        dd, dt
        {
            display:   inline-block;
            font-size: 14rem;
        }

        button
        {
            @extend %Std-Button-not-Link;
            width:      100px;
            margin-top: 17px;
        }
    }

}

.Thing-Info
{
    h3
    {
        border-bottom:    4px solid $Color-Border-Gray;
        background-color: $Background-Block;
        font-size:        21rem;
        font-weight:      700;
        padding:          25px 0 25px 50px;
        margin-bottom:    25px;
    }
    h4
    {
        font-size:   16rem;
        font-weight: 700;
        padding:     20px 0 20px 50px;
    }
    dl
    {
        width:   100%;
        padding: 0 20px 20px;
        @include Adaptive('>=tablet')
        {
            padding: 0 0 20px 50px;
            display: table;
        }
    }
    dt
    {
        margin-bottom: 10px;
        font-weight:   700;

        @include Adaptive('>=tablet')
        {
            width:         34%;
            display:       table-cell;
            margin-bottom: 0;
            font-weight:   500;
        }
    }
    dt, dd
    {
        font-size: 15rem;
    }
    dd
    {
        @include Adaptive('>=tablet')
        {
            display: table-cell;
            width:   66%;
        }

        li
        {
            margin-bottom: 22px;
        }
    }

}

.b-properties__title
{
    text-align:     left;
    font-weight:    700;
    padding-bottom: 20px !important;
    font-size: 16px !important;
}
.prp_goupped_big_table{
    width: 100% !important;
}