.Item-Viewed
{
    @extend %Left-Content-Head;

}

.Static
{
    background: $Background-Block;
    padding:    35px 15px 40px;
    text-align: left;
    @include Adaptive('>=tablet')
    {
        padding: 35px 45px 80px;
    }

    h2
    {
        @extend %Unselectable;
        font-size:     26rem;
        color:         $Color-Primary;
        font-weight:   600;
        margin-bottom: 25px;
        @include Adaptive('>=tablet')
        {
            font-size: 30rem;
        }
    }

    h3
    {
        @extend %Unselectable;
        font-size:     18rem;
        color:         $Primary-Color-Text;
        margin-bottom: 20px;
    }

    article
    {
        color:         $Primary-Color-Text;
        margin-bottom: 60px;

        &:last-of-type
        {
            margin-bottom: 0;
        }

        p
        {
            font-size:     14rem;
            line-height:   1.3;
            margin-bottom: 20px;

            &:last-of-type
            {
                margin-bottom: 0;
            }

            a
            {
                color: $Color-Primary;
            }

        }

        ul
        {
            font-size:   14rem;
            line-height: 20rem;
            list-style:  disk;
            margin-left: 40px;
        }
    }
}

.Sitemap, .Manufacturers
{
    padding:      0 20px 20px;

    @include Adaptive('>iphone-6'){
        column-count: 2;
        column-gap:   20px;
    }

    @include Adaptive('>tablet'){
        column-count: 3;
        column-gap:   40px;
    }
    a
    {
        font-size:   14rem;
        line-height: 26rem;
        color:       #444;
        //text-decoration: none;
    }
    .Manufacturer-Letter
    {
        font-size:   16rem;
        font-weight: 700;
    }

    .Manufacturer-List
    {
        padding-bottom: 20px;
        vertical-align: top;
    }
}