
%Std-Input
{
    @extend %Form-Rounded;

    border:           1px solid $Border-Input;
    padding:          9px 10px 8px 40px;
    font-size:        14rem;

    //box-shadow    : inset 0 7px 25px 0 rgba(226, 226, 226, 0.75);

    background-image: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 65%, rgb(226, 226, 226) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 65%, rgb(226, 226, 226) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 65%, rgb(226, 226, 226) 100%);

    &:focus
    {
        border:     1px solid $Color-Primary;
        box-shadow: 0 3px 10px 0 rgba(253, 66, 89, 0.6), inset 0 0 0 2px rgba(255, 255, 255, 0.004);
        background: #fffafa;

    }
}

%Red-Gradient
{
    background-image: -moz-linear-gradient(90deg, rgb(196, 40, 47) 0%, rgb(254, 67, 89) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(196, 40, 47) 0%, rgb(254, 67, 89) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(196, 40, 47) 0%, rgb(254, 67, 89) 100%);

}

%Std-Button-link
{
    //background : rgb(254, 67, 89);
    //box-shadow : 0 3px 10px 0 rgba(253, 66, 89, 0.6), inset 0 0 0 2px rgba(255, 255, 255, 0.004);

    box-shadow:  inset 0 -19px 16px 0 rgba(205, 44, 53, .004);
    &:hover
    {
        box-shadow: inset 0 -19px 16px 0 rgba(0, 0, 0, .004);
    }

    @extend %Form-Rounded;

    color:       white;
    font-size:   14rem;
    font-weight: 600;

    @extend %Red-Gradient;

    a
    {
        text-decoration: none;
        color:           inherit;
        display:         block;
        padding:         9px 0 10px;
        width:           100%;
    }
}

%Std-Button-not-Link
{

    box-shadow:       inset 0 -19px 16px 0 rgba(205, 44, 53, .004);
    &:hover
    {
        box-shadow: inset 0 -19px 16px 0 rgba(0, 0, 0, .004);
    }
    //background : rgb(254, 67, 89);
    //box-shadow : 0 3px 10px 0 rgba(253, 66, 89, 0.6), inset 0 0 0 2px rgba(255, 255, 255, 0.004);

    @extend %Form-Rounded;

    color:            white;
    font-size:        14rem;
    font-weight:      600;
    padding:          9px 0 10px;

    background-image: -moz-linear-gradient(90deg, rgb(196, 40, 47) 0%, rgb(254, 67, 89) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(196, 40, 47) 0%, rgb(254, 67, 89) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(196, 40, 47) 0%, rgb(254, 67, 89) 100%);

}

%Std-Close
{

    @extend %Std-Transition;

    fill:   #ababab;
    cursor: pointer;

    &:hover
    {
        @extend %Std-Transition;

        fill: $Color-Primary;
    }
}

