%Unclickable
{
	cursor : default;
}

%Unselectable
{
	@extend %Unclickable;
	& *::selection
	{
		background-color : transparent;
	}
	&::selection
	{
		background-color : transparent;
	}
}

%Std-Transition
{
	transition : all 0.2s linear;
}

%Transition-Fill
{
	transition : fill linear .2s;
}

%Transition-Fast
{
	transition : background linear .2s, background-color linear .2s, color linear .2s, fill linear .2s;
}

%Border-Top-Red
{
	border-top : 2px solid $Color-Primary;
}

%Border-Bottom-Red
{
	border-bottom : 2px solid $Color-Primary;
}

%Border-Red
{
	border : 2px solid $Color-Primary;
}

%Border-Gray
{
	border : 2px solid $Color-Border-Gray;
}

%Border-Top-Gray
{
	border-top : 2px solid $Color-Border-Gray;
}

%Border-Bottom-Gray
{
	border-bottom : 2px solid $Color-Border-Gray;
}

%Border-Left-Gray
{
	border-left : 2px solid $Color-Border-Gray;
}

%Border-Right-Gray
{
	border-right : 2px solid $Color-Border-Gray;
}

%Std-Label
{
}

%Uppercase
{
	text-transform : uppercase;
}

%Form-Circle
{
	border-radius : 50%;
}

%Form-Rounded
{
	border-radius : 4px;
}

%Shadow-Outset
{
}

%Shadow-Inset
{
}
%Left-Content-Head{
	h2
	{
		font-size   : 18rem;
		font-weight : 700;
		padding     : 40px 0 20px 20px;
		svg
		{
			display        : inline-block;
			width          : 22px;
			height         : 18px;
			margin-right   : 1px;
			vertical-align : middle;
			fill           : $Color-Primary;
		}
	}
}


