html
{
	font-size   : 1px;
	font-family : 'OpenSans', Arial, Helvetica, sans-serif;
	position    : relative;
}

body
{
	overflow-x : hidden;
	font-size  : 12rem;
	background : #e2e2e2;
}

input, button, textarea
{
	&:focus
	{
		outline : none;
	}

}

button
{
	border  : none;
	cursor  : pointer;
	padding : 0;
}

h1
{
}

h2
{
}

h3
{
}

h4
{
}

h5
{
}

h6
{
}

p
{
}

main
{
	width   : 100%;
	display : table;
}

.Main-Sprite
{
	display    : none;
	opacity    : 0;
	visibility : hidden;
}

.Left-Content
{
	display : none;
	@include Adaptive('>=desktop')
	{
		@extend %Border-Top-Red;
		@extend %Border-Bottom-Red;
		display          : table-cell;
		vertical-align   : top;
		max-width        : 100%;
		width            : 300px;
		background-color : $Background-Block;
	}

}

.Right-Content
{

	@include Adaptive('>=desktop')
	{
		display   : table-cell;
		max-width : 100%;
		width     : 900px;
	}
	@at-root .Main-Wrap
	{
		@extend %Border-Top-Red;
		@extend %Border-Bottom-Red;

	}

	&.Mod
	{
		@extend %Border-Top-Red;
		@extend %Border-Bottom-Red;
		background : white;
	}

	&.Mog-bg
	{
		@extend %Border-Top-Red;
		@extend %Border-Bottom-Red;
		background-color : $Background-Secondary;
	}
}

.Middle
{
	margin-left : 20px;
}

.Wrapper
{
	max-width : 1200px;
	margin    : 0 auto;

	@include Adaptive('>=desktop')
	{
		margin : 50px auto;
	}
}

.Rouble
{
	width  : 9px;
	height : 10px;
	fill   : $Primary-Color-Svg;
}

.Drobdown-Menu.JS-Menu-List
{
		display    : none;
		height     : 0;
		transition : height 0.2s linear;
		overflow: hidden;
}

.Hits-Select.JS-Menu-List{
	@include Adaptive('<=tablet')
	{
		display    : none;
		height     : 0;
		transition : height 0.2s linear;
		overflow: hidden;
	}
}

.JS-Menu-List{
	&.Active{

	}
}


.sh_btn{
	@extend %Red-Gradient;
	&:hover{
		@extend %Red-Gradient;
	}
}

.sh_btn_right_top {
	display: none;
	top: 100px;
	@include Adaptive('>desktop'){
		display: block;
	}
}
.Message-Error {
	padding: 0 20px 20px;
	font-size: 14rem;
}

.error {
	display: block;
	padding-bottom: 20px;
	color: #E9394A;
}