footer
{
    margin-top: 50px;
    @extend %Border-Top-Red;
    section:last-of-type
    {
        width: 240px;
    }
    @include Adaptive('>=ipad-P')
    {
        display: table;
        width:   100%;

    }
    > div
    {
        @include Adaptive('>=ipad-P')
        {
            display:        table-cell;
            width:          50%;
            vertical-align: top;
        }
        @include Adaptive('>=desktop')
        {
            width: 25%;
        }

    }
    .Caption
    {
        display: none;
        @include Adaptive('>=tablet')
        {
            display: table-caption;

        }
        @include Adaptive('>=desktop')
        {
            display: none;

        }
    }

    @at-root .Additional, .Support, .Footer-Info
    {
        padding:          25px;
        background-color: $Background-Block;


        @include Adaptive('>=desktop')
        {

            padding: 25px;

        }

        li
        {
            line-height: 28px;
            font-size:   14rem;
        }

        a
        {
            @extend %Unselectable;
            border-bottom:   1px solid $Color-Primary;
            text-decoration: none;
            cursor:          pointer;
            color:           $Black-Text;
        }

        h3
        {
            @extend %Uppercase;
            @extend %Unselectable;
            margin-bottom: 7px;
            font-size:     16rem;
            font-weight:   600;
            color:         $Red-Text;
        }
        @include Adaptive('>ipad-P'){
            &.Small{
                li
                {
                    line-height: 18px;
                    font-size:   12rem;
                }
            }
        }

    }
    @at-root .Additional
    {

    }
    @at-root .Support
    {
        @extend %Border-Top-Gray;
        @include Adaptive('>=tablet')
        {
            border-top:  none;
            border-left: 2px solid $Color-Border-Gray;
        }

        @include Adaptive('>=desktop')
        {
        }

    }
    @at-root .Footer-Info
    {
        @extend %Border-Left-Gray;


        @include Adaptive('>=desktop')
        {
            border-top:  none;
            border-left: 2px solid $Color-Border-Gray;
        }
    }
    .Hide-Mobile
    {
        @include Adaptive('>=desktop')
        {
            display: table-cell;
        }
    }
    @at-root .Footer-Links
    {
        @extend %Unselectable;
        background-color: $Color-Primary;
        color:            white;
        padding:          25px;
        font-size:        13rem;
        font-weight:      600;

        @include Adaptive('>=ipad-P'){
            padding:          20px;
        }

        a
        {
            color:           white;
            text-decoration: none;
        }

        @at-root .Copyright
        {
            line-height:   24rem;
            margin-bottom: 17px;
        }
        @at-root .Made-In
        {
            margin-bottom: 24px;
            a
            {
                border-bottom: 1px solid white;
            }
        }
        @at-root .Vk
        {
            display:       block;
            border-bottom: none;
            svg
            {
                @extend %Form-Circle;
                @extend %Transition-Fast;
                width:            22px;
                height:           16px;
                padding:          10px 8px;
                vertical-align:   middle;
                fill:             $Color-Primary;
                background-color: #fff;
                margin-right:     2px;
            }

            &:hover
            {
                svg
                {
                    @extend %Transition-Fast;
                    background-color: #c2002f;
                    fill:             white;
                }
            }

        }

    }
    .Text-Former
    {
        max-width: 100%;
        width:     240px;


        @include Adaptive('>=desktop')
        {
            width:  190px;
            margin: 0 auto;
        }
    }

}