header
{
	margin-bottom : 50px;
}

.Header
{

	@extend %Border-Bottom-Red;

	position   : relative;
	display    : table;
	width      : 100%;
	height     : 73px;
	color      : $Primary-Color-Text;
	background : $Background-Block;

	@include Adaptive(">=desktop")
	{
		height : auto;
	}

	@at-root .Header-Logo
	{
		position       : relative;
		display        : table-cell;
		vertical-align : middle;
		width          : 25%;

		&:hover.Active
		{
			.Logo-Picture
			{
				svg
				{
					@extend %Std-Transition;

					opacity : 0;
				}
			}

			.Header-Back
			{
				span, svg
				{
					@extend %Std-Transition;
					opacity : 1;
				}
			}
		}

		@at-root .Logo-Picture
		{
			svg
			{
				@extend %Std-Transition;

				opacity     : 1;
				position    : relative;
				width       : auto;
				height      : 34px;
				margin-left : 20px;

				@include Adaptive(">=desktop")
				{
					width       : 250px;
					height      : 55px;
					margin-left : 50px;
					left        : -13px;
				}
			}
		}

		@at-root .Header-Back
		{
			position  : absolute;
			left      : 20px;
			top       : 25px;
			font-size : 0;
			width     : 165px;

			@include Adaptive(">=desktop")
			{
				left  : 68px;
				top   : 48px;
				width : auto;
			}

			svg
			{
				@extend %Std-Transition;
				opacity        : 0;
				display        : inline-block;
				vertical-align : middle;
				width          : 17px;
				height         : 20px;
				left           : 0;
				margin-left    : 0;
				margin-right   : 4px;
				fill           : $Color-Primary;

				@include Adaptive(">=desktop")
				{
					margin-right : 9px;
				}
			}
			span
			{
				@extend %Std-Transition;
				opacity        : 0;
				display        : inline-block;
				vertical-align : middle;
				font-size      : 12rem;
				font-weight    : bold;
				color          : $Primary-Color-Text;
				padding-top    : 2px;

				@include Adaptive(">=desktop")
				{
					font-size : 17rem;
				}
			}
		}
	}

	@at-root .Header-Search
	{
		vertical-align : middle;
		text-align     : center;
		position       : absolute;
		top            : 103%;
		left           : 0;
		padding-top    : 7px;
		right          : 0;
		padding-bottom : 8px;
		background     : white;

		@include Adaptive(">=desktop")
		{
			display  : table-cell;
			position : relative;
			width    : 50%;
			top      : auto;
			padding  : 0;
		}

		& > div
		{
			width     : 88%;
			max-width : 400px;
			position  : relative;
			display   : inline-block;
			font-size : 0;

			@include Adaptive(">=desktop")
			{

				width : 100%;
			}
		}

		@at-root .Search-Example
		{
			display    : none;
			font-size  : 14rem;
			text-align : left;
			padding    : 10px 0 0 4px;

			@include Adaptive(">=desktop")
			{
				display : block;
			}

			span
			{
				color : $Red-Text;
			}
		}

		svg
		{
			position : absolute;
			top      : 9px;
			left     : 10px;
			width    : 17px;
			height   : 15px;
			fill     : none;
			stroke   : $Border-Input;
		}

		input
		{
			@extend %Std-Input;

			display        : inline-block;
			vertical-align : middle;
			width          : 100%;
			border-right   : 0;
		}

		button
		{

			@extend %Std-Button-not-Link;

			position                  : absolute;
			display                   : inline-block;
			width                     : 100px;
			right                     : 0;
			top                       : 0;
			font-size                 : 14rem;
			border-top-left-radius    : 0;
			border-bottom-left-radius : 0;
		}
	}

	@at-root .Header-Basket
	{
		display        : none;
		vertical-align : middle;
		width          : 25%;
		font-size      : 0;
		text-align     : left;
		background     : #f9f9f9;
		padding        : 21px 0 10px 0;

		@include Adaptive(">=desktop")
		{
			display : table-cell;
		}

		@at-root .Basket-Logo
		{
			display        : inline-block;
			vertical-align : top;
			margin         : 0 25px 0 27px;

			svg
			{
				width  : 48px;
				height : 46px;
				fill   : $Primary-Color-Text;
			}
		}

		&.Info
		{
			display        : inline-block;
			vertical-align : top;
			min-width      : 150px;
			font-size      : 13rem;
			padding        : 13px 0 0 0;

			dd
			{
				font-weight : 600;
				padding     : 5px 0 10px 0;
			}

			dl
			{

			}

			button
			{
				@extend %Std-Button-link;

				width : 150px;

			}
		}
	}

	@at-root .Header-Mobile-Icons
	{
		display        : table-cell;
		vertical-align : middle;
		text-align     : right;
		padding-right  : 20px;

		@include Adaptive(">=desktop")
		{
			display : none;
		}

		& > *
		{
			display        : inline-block;
			vertical-align : middle;
			margin-left    : 15px;

		}

		@at-root .Mobile-Basket
		{
			svg
			{
				@extend %Std-Transition;

				width  : 27px;
				height : 27px;
				fill   : $Color-Primary;

				&:hover
				{
					@extend %Std-Transition;

					fill : #f84054;
				}
			}
		}

		@at-root .Mobile-Search
		{
			cursor : pointer;
			svg
			{
				width  : 27px;
				height : 27px;
				stroke : $Color-Primary;
				fill   : white;

				&:hover
				{
					@extend %Std-Transition;

					stroke : #f84054;
				}
			}
		}

		@at-root .Hamburger
		{
			position : relative;
			height   : 24px;
			cursor   : pointer;

			&:hover
			{
				@extend %Std-Transition;

				span, span:before, span:after
				{
					background : #f84054;
				}
			}

			span
			{
				@extend %Std-Transition;
				position   : relative;
				display    : inline-block;
				width      : 26px;
				height     : 4px;
				top        : 4px;
				background : $Color-Primary;

				&:before
				{
					@extend %Std-Transition;
					content    : "";
					position   : absolute;
					width      : 26px;
					height     : 4px;
					background : $Color-Primary;
					top        : -10px;
					left       : 0;
				}

				&:after
				{
					@extend %Std-Transition;
					content    : "";
					position   : absolute;
					width      : 26px;
					height     : 4px;
					background : $Color-Primary;
					top        : 10px;
					left       : 0;
				}
			}
		}
	}

	@at-root .Drobdown-Menu
	{

		position   : absolute;
		left       : 0;
		right      : 0;
		background : black;
		opacity    : 0.85;
		text-align : center;
		z-index    : 9999;
		top        : 125px;

		a
		{
			font-size       : 14rem;
			color           : white;
			text-decoration : none;
			width           : 100%;
			display         : block;
			padding         : 10px 0;
			font-weight     : 600;
		}

		ul
		{
			@extend %Border-Bottom-Red;
		}
	}
}