.Hits
{
    background-color: $Background-Block;
    @at-root .Hits-Breadcrumbs
    {
        padding:  20px 20px 20px 20px;
        position: relative;

        @include Adaptive('>=tablet')
        {
            margin: 0;
        }

        .Tab-Result, .Tab-Header
        {
            display:        inline-block;
            vertical-align: middle;
            font-size:      16rem;
            font-weight:    bold;
            text-transform: uppercase;

            @include Adaptive('>tablet')
            {
                &.Tab-Result
                {
                    display: none;
                }
            }
        }

        @at-root .Hits-Menu
        {
            position: relative;
            padding:  8px 10px 7px 10px;

            @include Adaptive('>tablet')
            {
                padding: 0;

            }

            @include Adaptive("<=tablet")
            {
                &.Active
                {
                    background: $Color-Primary;
                    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);

                    .Ribbon
                    {

                        fill: white;
                    }

                    .Tab-Result
                    {
                        color: white;
                    }
                }
            }

        }

        @at-root .Hits-Select
        {
            position:       absolute;

            vertical-align: middle;
            left:           0;
            right:          0;
            top:            100%;
            background:     white;

            box-shadow:     0 4px 10px 0 rgba(0, 0, 0, 0.3);



            @include Adaptive('>tablet')
            {
                display:    inline-block;
                position:   relative;
                left:       auto;
                right:      auto;
                top:        auto;
                background: none;
                height:     auto;

                box-shadow: none;
            }
        }

        li
        {

            @extend %Uppercase;
            @extend %Unselectable;
            @extend %Border-Bottom-Gray;

            display:        block;
            vertical-align: middle;
            padding:        12px 0 12px 37px;
            font-size:      16rem;
            font-weight:    bold;
            cursor:         pointer;

            &:last-of-type
            {
                @extend %Border-Bottom-Red;
            }

            @include Adaptive('>tablet')
            {
                display:     inline-block;
                margin-left: 50px;
                padding:     0;
                border:      0;

                &:last-of-type
                {
                    border: 0;
                }

                &:first-of-type
                {
                    margin-left: 0;
                }
            }

            &.Active
            {
                cursor: default;

                @include Adaptive('>tablet')
                {
                    color: $Red-Text;
                }
            }
        }

        @at-root .Ribbon
        {

            width:          20px;
            height:         20px;
            margin-right:   6px;
            vertical-align: middle;
            fill:           $Color-Primary;
            @include Adaptive('>tablet')
            {
                fill: $Primary-Color-Svg;
            }
        }
        @at-root .Drop-Down
        {
            @extend %Std-Transition;

            position:   relative;
            float:      right;
            width:      12px;
            height:     12px;
            padding:    11px;
            margin-top: -10px;
            fill:       $Primary-Color-Svg;
            cursor:     pointer;
            top:        2px;
            right:      -10px;

            @include Adaptive('>tablet')
            {
                display: none;
            }

            &.Active
            {
                @extend %Std-Transition;

                transform: rotate(180deg);
                fill:      white;
            }
        }
    }
    @at-root .Hits-Items
    {
        @extend %Clearfix;

    }

    @at-root .New-Items
    {
        @extend %Clearfix;
    }

}