.Left-Content
{
	.Item
	{
		width : 100%;
	}

}

.Right-Content .Item
{
	&:nth-of-type(3n+2)
	{
		@include Adaptive('>=ipad-P')
		{
			border-left  : 2px solid $Color-Border-Gray;
			border-right : 2px solid $Color-Border-Gray;
		}

	}
	@include Adaptive('>=ipad-P')
	{
		border-top : 2px solid $Color-Border-Gray;
	}
}

@at-root .Item
{
	float     : left;
	width     : 50%;
	padding   : 15px;
	font-size : 0;
	@include Adaptive('>=ipad-P')
	{
		width   : 33.3%;
		padding : 30px;
	}

	@at-root .Item-View
	{
		display    : block;
		height     : 118px;
		width      : 130px;
		max-width  : 100%;
		margin     : 0 auto 0;
		background : url("../img/item.jpg") no-repeat center / contain;
		@include Adaptive('>=ipad-P')
		{
			width  : 200px;
			height : 175px;
		}
	}

	@at-root .Item-Content
	{
		overflow : hidden;
		height   : 170px;
		@include Adaptive('>=tablet')
		{
			height : 120px;
		}

		@include Adaptive('>=ipad-P')
		{
			height : 140px;
		}

		a
		{
			display         : block;
			padding         : 25px 0 20px;
			text-decoration : none;
		}

		h3
		{
			font-size   : 14rem;
			color       : $Red-Text;
			font-weight : 600;
			line-height : 16rem;

			@include Adaptive('>=ipad-P')
			{
				font-size   : 16rem;
				line-height : 18rem;
				text-align  : center;
			}

		}

		p
		{
			margin-bottom : 10px;
			line-height   : 16rem;
			font-size     : 12rem;
			font-weight   : 400;
			color         : $Primary-Color-Text;
		}
	}
	@at-root .Item-Price
	{
		color         : $Red-Text;
		font-size     : 20rem;
		text-align    : center;
		margin-bottom : 15px;
		@include Adaptive('>=ipad-P')
		{
			display        : inline-block;
			width          : 50%;
			font-size      : 16rem;
			text-align     : initial;
			vertical-align : middle;
			margin-bottom  : 0;
		}

		svg
		{
			vertical-align : middle;
			width          : 15px;
			height         : 15px;
			fill           : $Color-Primary;
		}

	}
	@at-root .Item-Button
	{
		text-align : center;
		@include Adaptive('>=ipad-P')
		{
			display        : inline-block;
			width          : 50%;
			vertical-align : middle;
			text-align     : initial;
		}

		button
		{
			@extend %Std-Button-not-Link;
			width : 100%;
		}
	}
}
