.Main-Menu
{
	font-weight : 600;
	color       : $Primary-Color-Text;

	h2
	{
		font-size : 18rem;
		padding   : 45px 0 45px 50px;
	}
	svg
	{
		width          : 22px;
		height         : 22px;
		vertical-align : middle;
		display        : inline-block;
		fill           : $Color-Primary;
	}
	a
	{
		display         : block;
		padding-left    : 50px;
		text-decoration : none;
		font-size       : 14rem;
		line-height     : 40px;
		color           : $Primary-Color-Text;
		transition      : border linear .2s, color linear .2s, background-color linear .2s;
		&:hover
		{
			@extend %Border-Top-Red;
			color            : white;
			background-color : $Color-Primary;
			transition       : border linear .2s, color linear .2s, background-color linear .2s;
		}
	}
	a + a
	{
		@extend %Border-Top-Gray;
		transition       : border linear .2s, color linear .2s, background-color linear .2s;

	}
	a:first-of-type
	{

		transition       : border linear .2s, color linear .2s, background-color linear .2s;
		border-top : 2px solid transparent;
	}
	a:hover + a
	{
		transition       : border linear .2s, color linear .2s, background-color linear .2s;
		border-top : 2px solid transparent;
	}

}