.Pagination
{
    text-align:  center;
    padding:     20px 0;
    font-weight: 600;
    color:       $Primary-Color-Text;

    @include Adaptive('>=ipad-P')
    {
        @extend %Border-Top-Gray;
        text-align: initial;
        padding:    20px 30px;
    }
    ul
    {
        font-size:  0;
        @extend %Unselectable;
        margin-top: 10px;
        @include Adaptive('>=ipad-P')
        {
            display:        inline-block;
            vertical-align: middle;
            margin-top:     0;
        }
    }
    li
    {
        @extend %Form-Rounded;
        @extend %Transition-Fast;
        display:    inline-block;
        width:      26px;
        text-align: center;
        margin:     0 1px;
        cursor:     pointer;
        font-size:  14rem;

        &:hover
        {
            @extend %Transition-Fast;
            background-color: $Color-Primary;
            a
            {
                color: white;
            }

        }

        a
        {
            display:         block;
            padding:         9px 0;
            color:           black;
            text-decoration: none;
        }
    }
    span
    {
        font-size: 14rem;
    }
    .Active
    {
        @extend %Transition-Fast;
        background-color: $Color-Primary;
        color:            white;
        padding:         9px 0;
    }
}