.Slider
{
	position         : relative;
	height           : 560px;
	margin-bottom    : 20px;
	background-color : $Color-Primary;
	@include Adaptive('>tablet')
	{
		height : 332px;
	}

	.Previous, .Next
	{
		position : absolute;
		top      : calc(50% - 30px);
		cursor   : pointer;
		padding  : 20px;
		z-index  : 1;

		@include Adaptive('>tablet')
		{
			top : calc(50% - 50px);
		}
		&:hover
		{
			svg
			{
				@extend %Transition-Fill;
				fill : $Svg-Arrow-Hover;
			}

		}

		svg
		{
			@extend %Transition-Fill;
			transform-origin : 15px;
			width            : 30px;
			height           : 30px;
			fill             : $Svg-Arrow-White;

			@include Adaptive('>tablet')
			{
				transform-origin : 30px;
				width            : 60px;
				height           : 60px;
			}

		}
	}
	.Previous
	{
		left : 0;
		svg
		{
			transform      : rotate(90deg);
			-moz-transform : rotate(45deg);
		}
	}
	.Next
	{
		right : 0;
		svg
		{
			transform      : rotate(-90deg);
			-moz-transform : rotate(-45deg);
		}
	}
	@at-root .Slider-Nav
	{
		@extend %Unselectable;
		position   : absolute;
		bottom     : 20px;
		left       : 0;
		right      : 0;
		text-align : center;
		z-index    : 1;

		.Active
		{
			@extend %Transition-Fast;
			background-color : white;
		}

		li
		{
			@extend %Transition-Fast;
			@extend %Form-Circle;
			display : inline-block;
			width   : 14px;
			height  : 14px;
			margin  : 0 3px;
			border  : 2px solid white;
			cursor  : pointer;

			&:hover
			{
				@extend %Transition-Fast;
				background-color : rgba(255, 255, 255, .4);
			}

		}
	}
}