.Slide
{
    display:         block;
    position:        absolute;
    display:         table;
    width:           100%;
    height:          100%;
    text-decoration: none;

    @at-root .Slide-View, .Slide-Content
    {
        display: table-row;
        cursor:  pointer;

        @include Adaptive('>tablet')
        {
            display:        table-cell;
            width:          300px;
            max-width:      50%;
            vertical-align: middle;
        }

    }
    @at-root .Slide-View
    {
        .View
        {
            background:      url("../img/slide-view.png") no-repeat center;
            max-width:       300px;
            height:          230px;
            margin:          20px auto 0;
            background-size: 180px;
            @include Adaptive('>tablet')
            {
                margin: 0 20px 0 auto;
            }
        }
    }
    @at-root .Slide-Content
    {
        padding-right: 100px;
        font-weight:   600;
        line-height:   20rem;

        color:         white;
        text-align:    center;


        @include Adaptive('>tablet')
        {
            padding-left: 20px;
            text-align:   initial;
        }

        h2
        {
            font-size:       25rem;
            margin:          20px 0;
            font-weight:     600;
            text-decoration: none;
            @include Adaptive('>tablet')
            {
                margin:    0 0 20px;
                font-size: 30rem;
            }
        }

        li
        {
            font-size:       16rem;
            line-height:     42rem;
            text-decoration: none;
        }

    }

}